* , *::after , *::before{
    box-sizing: border-box;
    font-family: Lato, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    overflow-x:hidden;
}
/* banner*/
.header-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    gap: 8px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 14px;
    background: linear-gradient(97.53deg, rgb(246, 135, 179) 5.6%, rgb(123, 97, 255) 59.16%, rgb(22, 209, 161) 119.34%);
}
/* navigation */
.navigation{
    display: flex;
    background-color: #fff;
   z-index: 999;
    position: sticky;
    top: 0;
    height: 60px;
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
    

}
.navigation-bar{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 1127px;
    margin: auto;
    
}

.rightside-nav , .leftside-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    
}
 .leftside-nav> div {
    align-content: center;
  height: 60px;  
  padding: 13px 16px;
  cursor: pointer;
}

.rightside-nav> div{
    align-content: center;
    height: 60px;  
    padding: 13px 16px;  
}

.leftside-nav>div:hover , .rightside-nav> div:hover{
    background-color: rgba(0, 0, 0, .03);
    
}

.menu-list {
    align-items: center;
    width: 10px;  
    text-decoration: none;
    line-height: 1;
    font-weight: 400;
    font-size: 1rem;
    color: rgba(0, 0, 0, .87);
    
}
.logo-cont:hover{
    background-color: rgba(0, 0, 0, .03);
}
.logo{
    width: 80px;
    cursor: pointer;
    margin: 13px 16px;
}
.search{
    position: relative;
}
.searchinput{
    width:200px;
    transition: width 0.3s, adding 0.3s;
     background: transparent; 
    color: rgba(0, 0, 0, 0.9);
}


/* footer */

footer{
    background-image:linear-gradient(to right, rgb(63, 81, 181), rgb(100, 181, 246)); 
    padding: 3em;
    font-size: 1rem;
}
.footer-cont{
    display: flex;
    justify-content: center;
    align-items: start;
max-width: 1127px;
margin: auto;
}
.footer-section{
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 25%;

}
.footer-section h1{
    font-size: 1em;
    margin-bottom: 14px;
}
.footer-section a , .span-footer{
    text-decoration: none;
    color: inherit;
    opacity: 0.5;
    font-size: 14px;
    padding: 3px 0px;
}
.footer-section a:hover{
    opacity: 1;
}
.logo-footer:hover{
    opacity: 1!important;
    cursor: pointer!important;
}
.market{
    cursor: pointer;
    padding: 3px;
    opacity: 0.5;
    width: 136px;
}

.market:hover{
    opacity: 1;
}
/* main */

body{
    background-color: rgb(236, 239, 241);
}
.mainsection1{
    
    padding: 21px;
    padding-bottom: 140px;
    background: linear-gradient(to right, rgb(63, 81, 181), rgb(100, 181, 246)) rgb(255, 255, 255);
}
.mainsection2{
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 1127px;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;

}
.base-info{
    text-align: center;
}
.label{
    font-size: 0.9em;
    font-weight: 700;
    color: #fff;
}
.number-baseinfo{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
}


/* main-table */

.assetsList , .exchangesList{
    width: 1127px;
    margin: auto;
}

.container-table{
    width: 100%;
    margin: auto;
    margin-top: -8em;
    padding: 2px;
}

.assetstable , .exchangestable{
    background-color: #fff;
    width: 100%;
    border-radius: 0.3rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 15px -3px;
    margin-bottom: 30px;
    border-spacing: 0;
    border-collapse: separate;
}

.theadassetstable , .theadexchangestable{
    display: table-header-group;
    vertical-align: middle;
    line-height:1.5em;
}

.theadtr {
    display: table-row;
    text-align: center;
    width: 100%;
    cursor: pointer;
}

.theadth {
    text-align: left;
    font-size: 0.9rem;
    font-weight: 500;
  color: rgba(0, 0, 0, .6);
  padding: 12px;
  border-bottom: 1px solid rgba(34, 36, 38, .1);
}


.theadth:hover {
    color: rgba(0, 0, 0, 1);
}

.tbodyClass{
    vertical-align: middle;
    line-height:1.5em;
}

.tbodytr {
    display: table-row;
    text-align: center;
    width: 100%;
    cursor: pointer;
    transition: .25s;
}
.tbodytr:hover{
    background-color: rgba(0, 0, 0, .05);
}




.Tbodytd , .Tbodytd4 , .Tbodytd5{
    font-size: .9em;
  padding: 8px 12px;
    text-align: left;
    color: rgba(0, 0, 0, .87); 
    border-bottom: 1px solid rgba(34, 36, 38, .1);
}
.Tbodytd4{
    color: rgb(244, 67, 54);
}

.Tbodytd5{
    color: rgb(24, 198, 131);
}

.Tbodytd1{
    font-size: .9em;
    padding: 8px 14px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, .87);
    border-bottom: 1px solid rgba(34, 36, 38, .1);
   
}

.Tbodytd2{
    font-size: .9em;
    text-align:center ;
    color: rgba(0, 0, 0, .87);
    border-bottom: 1px solid rgba(34, 36, 38, .1);
}

.tdimg{
    margin-right: .5em;
    width: 30px;
    height: 30px;
}
.tbodyname2{
    text-decoration: none;
    color: rgb(0, 0,0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    
}
.tbodyname2:hover{
    text-decoration: underline;
}
.tbodyname2 p{
    height: 20px;
}
.smallname2{
    text-align: left;
    font-size: 12px;
    color: rgba(0, 0, 0, .5);
}

/* btn */
 .btn{
    display: flex;
    justify-content: center;
    margin-bottom: 22px;
 }
 .btnclass{
    background-color: rgb(24, 198, 131);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 15px -3px;
    border-radius: 25px;
    font-size: 14px;
    padding: 11px 21px;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    transition: 0.2s;
 }
 .btnclass:hover{
    transform: translateY(-2px);
 }
 /* error */

 .error{
    padding: 16px;
    text-align: center;
    color: brown;
    font-weight: 700;
    font-size: 18px;
    border-bottom: 1px solid rgba(34, 36, 38, .1);
 }
 .loading{
    padding: 16px;
    text-align: center;
    color: blue;
    font-weight: 700;
    font-size: 18px;
    border-bottom: 1px solid rgba(34, 36, 38, .1);
 }

 .redcircle {
    
    height: 13px;
    width: 13px;
    background-color: rgb(244, 67, 54);
    border-radius: 50%;
    display: inline-block;
    margin-left: 25px;
  }
  .greencircle{
    
    height: 13px;
    width: 13px;
    background-color: rgb(24, 198, 131);
    border-radius: 50%;
    display: inline-block;
    margin-left:25px;
  }
  .yellowcircle{
    
    height: 13px;
    width: 13px;
    background-color: rgb(255, 235, 59);
    border-radius: 50%;
    display: inline-block;
    margin-left: 25px;
  }


/* setting */

  .modalsetting{
    display: none;
    background-color: rgba(0, 0, 0, .8);
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 1em;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    z-index: 10000;
  }

  .opensetting{
    display:flex ;
    
  }
  .setting-container{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    margin: 5vh auto;
    width: 380px;

  }
  .setting-part1{
justify-content: space-between;
    display: flex;
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
    width: 100%;
    padding: 20px;
  }

  .setting-part2{
    justify-content: space-between;
        display: flex;
        flex-direction: column;
        color: #fff;
        font-size: .9em;
        font-weight: 600;
        width: 100%;
        justify-content: start;
      }

      .setting-part2>div{
        text-align: start;
        padding: 20px;
      }
  .body-locked{

overflow: hidden;
  }
  /* contact */

  .Contact{
    display: none;
    background-color: rgba(0, 0, 0, .8);
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 1em;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    z-index: 10000;
  }
  .opencontact{
    display: flex;
  }

  .contactcontainer{
    background-color: #fff;
    max-width: 600px;
    width: 100%;
    margin: auto;
    padding: 48px;
    border-radius: 20px;
    color: black;
  }

  .header-contact{
   font-size: 32px;
   line-height: 48px;
   font-weight: 500;
   color: rgb(0, 0,0);
  }
  .part1-contact{
display: flex;
flex-direction: column;
align-items: start;
justify-content: start;
gap: 16px;
margin-bottom: 24px;

  }
  .p-contact{
    text-align: start;
    align-self: stretch;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: rgb(113, 113, 122);
  }
.line{
    height: 1px;
    border: 1px solid rgb(228, 228, 231);
    margin-bottom: 24px;
}
.form1{
    display: block;
    font-size: 1rem;
    position: relative;
    max-width: 100%;
}
.formcontact{
    margin: 0 0 1em;
display: flex;
flex-direction: column;
align-items: start;
}
.formcontact label{
    font-size: 16px;
    font-family: Lato;
    font-weight: 400;
    line-height: 24px;
    color: rgb(113, 113, 122);
}

.formcontact input , #textarea1{
    width: 100%;
    padding: 16px 12px;
    background: rgb(244, 244, 245);
    border-radius: 12px;
    border: 1px solid rgb(212, 212, 216);
    box-shadow: rgb(212, 212, 216) 0px 3px 0px;
    color: black;
}
#textarea1{
    resize: none;
}

.contact-button{
    border-width: 0px;
    width: auto;
    padding: 16px 24px;
    background: rgb(161, 161, 170);
    border-radius: 50px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.32px;
    display: block;
    margin: 0px auto;
}






@media only screen and (min-width: 990px) and (max-width: 1200px){
    .res-class{
   width: calc(933px + 2rem)!important;
}
  }

  @media only screen and (min-width: 800px) and (max-width: 990px){
    .thead-remove , .remove-col{
        display: none;
    }

    .res2{
        width: calc(768px + 2rem )!important;
    }
    .res3{
        width: calc(768px - 2rem )!important;
        flex-wrap: wrap!important;
        max-width: 100%!important;
    }
    
    
    }

@media screen and (max-width:800px) {

    .leftside-nav , .rightside-nav{
        display: none!important;
        
    }
    .navigation-bar{
        justify-content: center!important;
    }
.mainsection2{
    display: none;
}
.res-class{
width: 100%;
}
 .thead-remove , .remove-col{
        display: none;
    }
    .res-class3{
        display: none;
    }
}


